	body {
    background: #4a3358; 
    
}

#main-content {
    background: #ffffff;
    padding: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px; 
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1); 
}

.content-box p {
    line-height: 1.8;
    color: #333;
    font-size: 1.1em;
    margin-bottom: 20px;
}


#header-wrapper {
    position: relative;
    z-index: 100;
}
#header
	{
		 position: absolute; 
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1000;
            background: rgba(42, 0, 82, 0.5); 
            padding: 5em 0;
        }

  #header-wrapper {
    background: #111111 url('images/gradient.gif') no-repeat center;
    background-size: cover;
    min-height: 500px;
    padding: 4em; 
    
  }

#wrapper {
    background: #4c3f8a; 
    color: #ffffff;

  
}

.kitty-overlay {
    position: absolute;
    left: 80%;
    transform: translateX(-95%);
    bottom: -10px; 
    z-index: 1001;
    width: 900px;  
    pointer-events: none; 
}

.title h2 {
    color: #c98bff; 



}